/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container {
	margin: 5em auto;
	max-width: 768px;
}


/* ==========================================================================
   Player
   ========================================================================== */

.player {
    position: relative;
    border-radius: 5px;
    margin: 0 0 20px;
    border: 1px solid #ddd;
    padding: 10px 10px 10px 65px;
}

    /* ===== Track Info ===== */
    .track-title {
        margin: 5px 0;
    }
    .track-length {
        border-radius: 5px;
    }

    /* ===== Player Default Styles ===== */

    /* Player Ranger input */
    .player-range {
        -webkit-appearance: none;
        border-radius: 4px;
        background: none;
        height: 10px;
        vertical-align: middle;
        box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
        position: relative;
        z-index: 10;
    }
    .player-range::-moz-range-track {
        -moz-appearance: none;
        border-radius: 4px;
        background: none;
        height: 10px;
        margin: 3px 0;
        vertical-align: middle;
        box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    }

        .player-range:focus {
            outline: none;
        }
        .player-range::-moz-range-track:focus {
            outline: none;
        }

        /* Player Ranger input thumb */
        .player-range::-webkit-slider-thumb {
            -webkit-appearance: none !important;
            border-radius: 20px;
            background-color: #FFF;
            box-shadow:0 0 3px rgba(0,0,0,0.5);
            border: 1px solid #999;
            height: 16px;
            width: 16px;
        }
        .player-range::-moz-range-thumb {
            -moz-appearance: none;
            border-radius: 20px;
            background-color: #FFF;
            box-shadow:0 0 3px rgba(0,0,0,0.5);
            border: 1px solid #999;
            height: 16px;
            width: 16px;
        }


    /* ===== Player Default Styles ===== */
    .btn-player {
        position: absolute;
        left: 10px;
        height: 45px;
        width: 45px;
        border-radius: 50%;
    }
        .btn-player:focus, .btn-player:active {
            outline: none;
        }


    /* ===== Progress Bar ===== */
    .progress {
        height: 10px;
        overflow: visible;
        position: relative;
        margin: 3px 0;
        background: none;
        box-shadow: none;
    }

        .progress-bar-wrap {
            background-color: #f5f5f5;
            margin-top: -10px;
            height: 10px;
            border-radius: 4px;
            overflow: hidden;
            -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
        }

            .progress-bar {
                -webkit-transition: none;
                -o-transition: none;
                transition: none;
            }
            .progress-bar-buffer {
                background: #ddd;
                box-shadow: none;
                -webkit-transition: width .6s ease;
                -o-transition: width .6s ease;
                transition: width .6s ease;
            }

        /* Progress Range Slider */
        .progress-slider {
            -webkit-appearance: none;
            border-radius: 4px;
            background: none;
            height: 10px;
            vertical-align: middle;
            box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
        }
        .progress-slider::-moz-range-track {
            -moz-appearance: none;
            border-radius: 4px;
            background: none;
            height: 10px;
            margin: 3px 0;
            vertical-align: middle;
            box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
        }



    /* ===== Volume ===== */
    .volume {
        overflow: visible;
        position: relative;
        height: 10px;
        margin: 3px 0;
        padding: 0 0 0 20px;
    }

        .btn-volume {
            position: absolute;
            left: 0;
            width: 16px;
            height: 16px;
            padding: 0;
            margin: -3px 0; /* offset button since it is bigger than range slider. */
            font-size: 16px;
            line-height: 16px;
            text-align: left;
            color: #555;
            background: none;
            border: none;
        }
            .btn-volume:hover, .btn-volume:focus {
                background: none;
                color: #428bca;
            }
    

    /* Youtube Source video */
    .yt-source {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
